@page
@model Yandex.Checkout.V3.Demo.Pages.ConfirmSyncModel
@{
    ViewData["Title"] = "ConfirmSync";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Sync confirmation</h2>
@await Html.PartialAsync("_Confirm")
