@page
@model Yandex.Checkout.V3.Demo.Pages.FinishSyncModel
@{
    ViewData["Title"] = "FinishSync";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Sync payment confirmed</h2>

@await Html.PartialAsync("_Finish")
