@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <h3>This demo shows payment with Yandex.Checkout using:</h3>
        <ul>
            <li><a asp-page="./Async">Async calls</a></li>
            <li><a asp-page="./Sync">Sync calls</a></li>
        </ul>
    </div>
</div>
